COMPOSE_PROJECT_NAME=rankx
MYSQL_ROOT_PASSWORD=change-me-for-local-docker
MYSQL_APP_USER=rankx_app
MYSQL_APP_PASSWORD=change-me-app-password
MYSQL_VOLUME_NAME=rankx-mysql-data
DOCKER_NETWORK_NAME=rankx-network
SECURITY_JWT_SECRET=cmFua3gtbG9jYWwtZG9ja2VyLXNlY3JldC1mb3Itand0LTIwMjY=
JUDGE0_BASE_URL=https://ce.judge0.com
APP_SECURITY_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
API_GATEWAY_HOST_PORT=8080
RANKX_WEB_HOST_PORT=3000
RANKX_ADMIN_HOST_PORT=3001
LOCAL_AUTH_BOOTSTRAP_ENABLED=true
LOCAL_AUTH_BOOTSTRAP_ADMIN_USER_ID=00000000-0000-0000-0000-000000000101
LOCAL_AUTH_BOOTSTRAP_ADMIN_USERNAME=rankx_admin
LOCAL_AUTH_BOOTSTRAP_ADMIN_PASSWORD=RankXAdmin123!
LOCAL_AUTH_BOOTSTRAP_ADMIN_MOBILE=9000000001
LOCAL_AUTH_BOOTSTRAP_TEST_USER_ID=00000000-0000-0000-0000-000000000102
LOCAL_AUTH_BOOTSTRAP_TEST_USERNAME=rankx_test
LOCAL_AUTH_BOOTSTRAP_TEST_PASSWORD=RankXTest123!
LOCAL_AUTH_BOOTSTRAP_TEST_MOBILE=9000000002
