registry=https://trainwithats.online/nexus/repository/npm-trainwithats-group/
//trainwithats.online/nexus/repository/npm-trainwithats-group/:_auth=YWRtaW46YWRtaW4=
//trainwithats.online/nexus/repository/npm-trainwithats-release/:_auth=YWRtaW46YWRtaW4=
//trainwithats.online/nexus/repository/npm-trainwithats-snapshort/:_auth=YWRtaW46YWRtaW4=
always-auth=true
email=nihar@trainwithats.online