registry=https://prelive.trainwithats.online/nexus/repository/npm-all-group/
//prelive.trainwithats.online/nexus/repository/npm-all-group/:_auth=YWRtaW46YWRtaW4=
//prelive.trainwithats.online/nexus/repository/npm-trainwithats-hosted/:_auth=YWRtaW46YWRtaW4=
always-auth=true
email=nihar@trainwithats.online